html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	min-height:1000px;
	min-width: 950px;
    /*margin:auto;*/	
}
	
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: 'Droid Serif', serif;
	font-size: 13pt;
	font-weight: 400;
	color: #FFF;
	background: #04171d;

}

p {
	line-height: 140%;
	margin:0px;
	padding: 0px;
}

a {
	text-decoration: underline;
	color: #FFF;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	padding: 0px;
}

.container {
	margin: auto;
	width: 100%;
}

/*** Header ***/
#header_wrapper {

   	/*padding: 0px;*/
	/*margin: 0px;*/
	position: relative;
	/*float: top;*/
	/*overflow: hidden;*/
	background-image: url('../images/turing_header.jpg');
	background-size: 100%;
/*	top:0px;
	right: 0px;*/
	background-repeat: no-repeat;
	background-position: center top;
	height: 30%;
	width: 100%;

}

#heading {
	/*padding: 0em 0em;*/
	text-align: center;
}

#heading h1 {
	/*font-size: 2.7em;*/
	color: #FFF;
	font-weight: bold;
}

#heading h2 {
	font-size: 1.5em;
	color: #FFF;
	text-shadow:
    	-2px -2px 0 #000,
    	2px -2px 0 #000,
    	-2px 2px 0 #000,
    	2px 2px 0 #000;
}

#heading h1 a {
	color: #FFF;

	text-decoration: none;
	text-outline: #fff;
	text-weight: bold;
	text-shadow:
    	-3px -3px 0 #000,
    	3px -3px 0 #000,
    	-3px 3px 0 #000,
    	3px 3px 0 #000;
}

/*** Menu ****/
#menu {
	position: relative;
	width: 100%;
	height: 4%;
	background: #04171d;
	position: absolute;


	position: relative;
	float: top;

	overflow: hidden;
	background-size: cover;

	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	min-width: 900px;


}
	
#menu ul {
	text-align: center;}

#menu li {
	display: inline-block;
}

#menu li a, #menu li span {
	display: inline-block;
	/*margin-left: 0.50em;*/
	padding: .5em 1.1em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.70em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
	text-decoration: underline;
}

#menu .selected_page a {
	text-decoration: underline;
}


#left_img {
    margin: 0px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}


#content_wrapper {
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	position: relative;
	float: top;

	
	
}

#content {

	padding: 0em 1em;
	text-align: left;
	width: 65%;
	height: 100%;
	max-width: 1000px;
		
}
	
#content .post_content {
	padding: 0em 2em;
}

#content a,
#content strong {

}


/*** Post headers ***/
.post_header {
	padding: 2.0em 0em 0em 0em;
	text-align: left;
	margin-bottom: 1em;
}

.post_header h2 {
	padding: 0em;
	margin: 0em;
	font-size: 2.8em;
	
}

.post_header h3 {
	padding: 0em;
	margin: 0em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	
}

/*** Staff page ***/
table {
	border: 0px;
	width: 100%;
}

td > img {
    width: 199px;
    height: 281px;
}

/*** Tables (Projects, Lectures) ***/

.shadedTable {
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	
}
.shadedTable  td {
	background: rgba(255, 255, 255, .4);
	padding: 7px;
	position: relative;
}

.shadedTable th {
	background: rgba(255, 255, 255, .5);
	padding: 7px;
}

tr.spaceUnder > td {
  padding-bottom: 1.5em;
}

/*** Footer ***/
#footer_wrapper {
	background-size: cover;
	background-position: center bottom;
	
	background-repeat: no-repeat;
	
	float:bottom;
	bottom:0;
	padding: 5px;
	height: 230px;
	width: 100%;
	text-align: center;
	position: relative;
	
}

#footer {
	color: #FFF;
	bottom: 0;
	padding: 10px;
}

#footer a {
	color: #FFF;
}
